

p {
text-align: justify;
text-justify: inter-word;
font-family: courier-new, garamond, times-new-roman;
font-size: 18px;
margin-right:125px;
margin-left:125px;
color: black; 

}

p.title {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.docImprint {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.docDate {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.stage {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}

p.stageJustify {
    font-family: courier-new, garamond, times-new-roman;
    text-align:justify;
}

p.closer {
    font-family: courier-new, garamond, times-new-roman;
    text-align:right;
}

p.byline {
    font-family: courier-new, garamond, times-new-roman;
    text-align: center;
}

p.editorial {
    font-family: courier-new, garamond, times-new-roman;
color:black;  
line-height: 1.5;
}

p.center {
    font-family: courier-new, garamond, times-new-roman;
    text-align:center;
}



h1 {
font-family: courier-new, garamond, times-new-roman, cursive;
text-align: center;
margin-top:90px;
font-size: 24px;
    
}

h2 {
font-family: courier-new, garamond, times-new-roman, cursive;
text-align: center;
font-size: 20px;
    
}

h3 {
font-family: courier-new, garamond, times-new-roman, cursive;
text-align: center;
font-size: 12px;
    
}


div.notes /* name of your class here */ {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;   
}

img.html {
    padding-bottom:25px;
    padding-top:25px;
    padding-right:25px;
    padding-left: 50px;
    width:500px;
    float:left;
    clear:both;
}

body /* if you want the background for the whole page, you should use the "body" selector */ {
font-family: courier-new, garamond, times-new-roman;
  background-color: tan; 
     
}

div.container {
  background-color:CadetBlue;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 90px;
  margin: 0 auto;
  display:block;
}

header: after {
    content: '';
    display: table;
    clear:both;
}
.logo{
    float: left;
    padding: 10px 0;
    height: 90px;
    width: 90px;
   
}

nav {
    float:right;
   
}
nav ul {
   margin:0;
   padding: 0;
   list style:none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
    position:relative;
}

nav a {
    color #444
    text-decoration:none;
    text-transform: uppercase;
    Font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before{
    content:'';
    display:block;
    height: 5px;
    width: 100%;
    background-color: #444;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a: hover: :before {
    width: 100%;
}

#button {
  position: fixed;
  bottom: 15px;
  float: right;
  right: 12%;
  left: 88%;
  max-width: 40px;
  width: 100%;
  font-size: 14px;
  border-color: black;
  background-color: beige;
  padding: 5px;
  border-radius: 5px;
}