body {
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
  display: block;

p {
text-align: left;
font-family: arial;
font-size: 18px;
color: black;
text-indent: 50px; 
display: block;

}


h1 {
font-family: arial, cursive;
text-decoration: underline;
    
}


p.note /* name of your class here */ {
color: rgb(255,36,0);  
line-height: 1.5;
}


div.notes /* name of your class here */ {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;   
}


body /* if you want the background for the whole page, you should use the "body" selector */ {
background-color: rgb(255,255,255);
    
}